In [4]:
import sqlalchemy
import pandas as pd
from datetime import datetime

In [8]:
# initializing parameters to access MySQL
my_username = "albert"
my_password = ""
schema_name = "patients" #note that schema has already been created in MySQL dashboard directly


# defining engine for connection
engine = sqlalchemy.create_engine(f"postgresql+psycopg2://{my_username}:{my_password}@localhost/{schema_name}", echo=False)

# defining connection
conn = engine.connect()

In [9]:
query = "SELECT * FROM pts.pts"
display(pd.read_sql(query, conn))

   pt_nu    name  visit_date     fu_date                reason
0      1     joe  2024-01-22  2024-02-22             bloodwork
1      2    jane  2024-01-22  2024-03-22                 scans
2      3    john  2024-01-22  2024-04-22   bloodwork and scans
3      4  jackie  2024-01-22  2024-05-22          needy parent
4      5    jose  2024-01-22  2024-06-22  3rd party assessment
5      6  juliet  2024-01-22  2024-07-22              genetics

In [10]:
query = "SELECT * FROM pts.pts WHERE pt_nu = 3"
display(pd.read_sql(query, conn))

   pt_nu  name  visit_date     fu_date               reason
0      3  john  2024-01-22  2024-04-22  bloodwork and scans

In [15]:
todays_date = '2024-01-24'
query = f"SELECT * FROM pts.pts WHERE fu_date >= '{todays_date}'::date"
display(pd.read_sql(query, conn))

   pt_nu    name  visit_date     fu_date                reason
0      1     joe  2024-01-22  2024-02-22             bloodwork
1      2    jane  2024-01-22  2024-03-22                 scans
2      3    john  2024-01-22  2024-04-22   bloodwork and scans
3      4  jackie  2024-01-22  2024-05-22          needy parent
4      5    jose  2024-01-22  2024-06-22  3rd party assessment
5      6  juliet  2024-01-22  2024-07-22              genetics

In [50]:
# x = input('What patient number are you looking for?')
# x = 3
x = "3 OR pt_nu = 4"
query = f"SELECT * FROM pts.pts WHERE pt_nu = {x}"
return_df = pd.read_sql(query, conn)
if len(return_df) == 0:
    print("This patient is not recognized or does not have any followups scheduled.")
elif len(return_df) == 1:
    print(f"{return_df['name'][0]} is due for a followup visit on {return_df['fu_date'][0]} to discuss {return_df['reason'][0]}.")
else:
    multiple_fus = list(return_df['fu_date'][0:])
    multiple_fus = [y.strftime('%m/%d/%Y') for y in multiple_fus]
    print(f"This patient has multiple followups scheduled, {', and '.join(multiple_fus)}.")

This patient has multiple followups scheduled, 04/22/2024, and 05/22/2024.

In [51]:
from tkinter import *
from tkinter import ttk
root = Tk()
frm = ttk.Frame(root, padding=10)
frm.grid()
ttk.Label(frm, text="Hello World!").grid(column=0, row=0)
ttk.Button(frm, text="Quit", command=root.destroy).grid(column=1, row=0)
root.mainloop()

In [52]:
import tkinter as tk

def on_radio_button_selected():
    selection = radio_var.get()
    label_result.config(text=f"Selected option: {selection}")

# Function to get user input from the entry widget
def get_user_input():
    user_input = entry_text.get()
    label_result.config(text=f"Selected option: {radio_var.get()}, User input: {user_input}")

# Create the main window
root = tk.Tk()
root.title("Radio Buttons Example")

# Create a variable to store the selected option
radio_var = tk.StringVar()

# Create radio buttons
radio_patient_number = tk.Radiobutton(root, text="Patient Number", variable=radio_var, value="Patient Number", command=on_radio_button_selected)
radio_patient_name = tk.Radiobutton(root, text="Patient Name", variable=radio_var, value="Patient Name", command=on_radio_button_selected)

# Create an entry widget for user input
entry_text = tk.Entry(root, width=30)

# Create a label to display the selected option and user input
label_result = tk.Label(root, text="Selected option: ")

# Create a button to trigger the user input retrieval
button_search = tk.Button(root, text="Search", command=get_user_input)

# Pack the widgets
radio_patient_number.pack()
radio_patient_name.pack()
entry_text.pack()
button_search.pack()
label_result.pack()

# Run the Tkinter event loop
root.mainloop()